*{
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;

}
body{
    background-color: whitesmoke;
}
main{
    background-color: white;
    margin: 0 auto;
    width: 60%;
    padding:10px;
    padding-inline: 40px;
    margin-top: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
header{
    background-color: white;
}

.button{
    color: white;
    
    border-radius: 8px; 
    padding: 10px;
    min-height: 30px; 
    min-width: 80px;
    margin-bottom: 15px;
    position:relative;
    left: 50px;

}

.tasto1{
    background-color: deepskyblue;
    color: white;
    margin-left: 10px;
    border: none;
}
.tasto2{
    background-color:white;
    border-color: #e7e7e7;
    color: gainsboro;
    border-style: solid;


    
    
}

.cross{
    color: red;
    font-size: 25px;
}
.check{
    color: green;
    font-size: 25px;

}
.triangolo{
    font-size: 10px;
}
#logo{
    vertical-align:middle;
}
h1{
    display: inline;
}
    
.icona{
    
    border-radius: 10px;
    color: white;
    padding: 5px;
    height: 20px; 
    width: 50px;
    margin-bottom: 10px;
    margin-left: 5px; 
    font-size:x-small;   


}
.azzurro{
    background-color: deepskyblue;
}

.viola{
    background-color: blueviolet;
}

.verde{
    background-color: lightseagreen;
}

.arancione{
    background-color: orange;
}

.rosa{
     background-color: fuchsia;
}
li{
    list-style: none;
    margin: 8px;
    margin-left: -35px;
}
#nav{
    background-color: white;
    width: 60%;
    margin:0 auto;
    margin-top: 40px;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    padding-top: 10px;
}

